## Configure i2c (grove port on Atom S3)
i2c:
  - id: bus_a
    sda: GPIO2
    scl: GPIO1

## Configure UART
uart:
  - id: mod_bus
    tx_pin: GPIO6
    rx_pin: GPIO5
    baud_rate: 115200
    data_bits: 8
    stop_bits: 1
    parity: NONE

modbus:
  - uart_id: mod_bus
    id: modbus1
    send_wait_time: 20ms

modbus_controller:
  - id: mt
    address: 0x1
    modbus_id: modbus1
    command_throttle: 20ms
    update_interval: 2s

