## Version 1.11 - M5stack Marstek V3  (see rule numer 20)
#
# not working:
# sensor:
#   ac_offgrid_power
#   software_version
#   firmware_version
#   ac_current
#   ac_offgrid_current
# number:
#   charging_cutoff_capacity
#   discharging_cutoff_capacity

# for security see https://esphome.io/guides/security_best_practices/

substitutions:
  name: marstek-m1    ## change name to marstek_m2 or marstek_m3 for more batterys
  friendly_name: MT1  ## change name to MT2 or MT3 for more batterys

esphome:
  name: ${name}
  # friendly_name: ${friendly_name}  ### temporarely uncommented because of sensor naming wrong for nodered flow gitcode bob
  min_version: 2026.1.0     ## config updated to the latest ESPHome requerments.
  name_add_mac_suffix: false

esp32:
  board: esp32-s3-devkitc-1  ## M5stack Atom S3 lite  
  flash_size: 8MB
  variant: esp32s3
  cpu_frequency: 240MHz
  framework:
    type: esp-idf
    version: recommended
    ## Custom sdkconfig options
    sdkconfig_options:
      COMPILER_OPTIMIZATION_SIZE: y
      CONFIG_BT_ENABLED: n

psram:
  mode: octal
  speed: 80MHz

## Enable/Disable logging
logger:
  logs:
    component: ERROR
  
## Enable Home Assistant API
api:
  reboot_timeout: 0s
#  encryption:
#    key: !secret api_key

## Enable OTA updates
ota:
  - platform: esphome
  #  password: !secret ota_password
  - platform: web_server


wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  min_auth_mode: WPA2  
  reboot_timeout: 0s
  fast_connect: true
  power_save_mode: high
  use_psram: true

## uncomment if you need a fixed ip address
#  manual_ip:
#    static_ip: 192.168.178.126
#    gateway: 192.168.178.1
#    subnet: 255.255.255.0

## Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "${friendly_name} Hotspot"
    password: "configesp"
    ap_timeout: 15s

captive_portal:
  id: id_captive_portal
  
web_server:
  port: 80
  version: 3
  include_internal: False
#  ota: False
  local: True
  sorting_groups:
    - id: Info
      name: "Info"
      sorting_weight: -40
    - id: Control
      name: "Control"
      sorting_weight: -30
    - id: Status
      name: "Status"
      sorting_weight: -20
    - id: Diagnostic
      name: "Diagnostic"
      sorting_weight: -10
# Uncommand to secure the webserver.
#  auth:
#     username: !secret web_server_username
#     password: !secret web_server_password

package:
  marstek: github://blerk666/MarstekVenus-V3-M5stackRS485/esphome/marstek-venus-e-gen3.yaml@main
