#--------------------------------------------------------------------------------
# Version: 1.0                              Date: 04-Feb-2026
#--------------------------------------------------------------------------------
# General:
# - This YAML file is intended to remain mostly unchanged.
# - Most updates and customizations will be made in the included YAML files.
#
# Release notes:
# - This section may be removed after installation if desired.
# - It is recommended to keep at least the Version number above,
#   so you can easily verify whether your local configuration
#   matches the version published on GitHub.
#
# Changes:
# - v1.0
#   - Initial release.
#
# Installation:
# Before installing, create the following entries in your secrets.yaml file.
# Change the name suffix (marstek-m1) to marstek-m2 or marstek-m3 when using
# multiple batteries.
#
# - marstek-m1_api_key    # Generate a new API key:
#                         # https://esphome.io/components/api/
# - marstek-m1_ota_password
# - marstek-m1_web_server_username
# - marstek-m1_web_server_password
# - wifi_ssid
# - wifi_password
#
# Security:

# For ESPHome security best practices, see:
# https://esphome.io/guides/security_best_practices/
#
# Do not store secrets directly in this file.
# Always use secrets.yaml for credentials.
#--------------------------------------------------------------------------------


substitutions:
  name: marstek-m1      # Change to marstek-m2 or marstek-m3 when using multiple batteries

# Enable/Disable logging
logger:
  logs:
    component: ERROR
  
# Enable Home Assistant API
api:
  reboot_timeout: 30s
  encryption:
    key: !secret marstek-m1_api_key

# Enable OTA updates
ota:
  - platform: esphome
    password: !secret marstek-m1_ota_password
  - platform: web_server


wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  min_auth_mode: WPA2  
  reboot_timeout: 0s
  fast_connect: true
  power_save_mode: high
  use_psram: true

# Uncomment if you need a fixed ip address
#  manual_ip:
#    static_ip: 192.168.178.126
#    gateway: 192.168.178.1
#    subnet: 255.255.255.0

# Enable fallback hotspot (captive portal) if Wi-Fi connection fails
# Change the default password for security
  ap:
    ssid: "${name} Hotspot"
    password: "configesp"
    ap_timeout: 15s

web_server:
  port: 80
  version: 3
  include_internal: false
  local: true

# Webserver security.
  auth:
     username: !secret marstek-m1_web_server_username
     password: !secret marstek-m1_web_server_password


# Remote package configuration
# These files are automatically downloaded from GitHub during compilation
packages:
  remote_package_files:
    url: https://github.com/Blerk666/MarstekVenus-V3-M5stackRS485
    files: 
      - esphome/components/general-settings.yaml
      - esphome/components/atom-s3-lite.yaml
      - esphome/components/modbus-communication.yaml
      - esphome/components/marstek-venus-e-gen3.yaml
    ref: main
    refresh: 5min
