
# for security see https://esphome.io/guides/security_best_practices/

substitutions:
  name: marstek-m1     ## change name to marstek_m2 or marstek_m3 for more batterys

## Enable/Disable logging
logger:
  logs:
    component: ERROR
  
## Enable Home Assistant API
api:
  reboot_timeout: 0s
#  encryption:
#    key: !secret api_key

## Enable OTA updates
ota:
  - platform: esphome
  #  password: !secret ota_password
  - platform: web_server


wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  min_auth_mode: WPA2  
  reboot_timeout: 0s
  fast_connect: true
  power_save_mode: high
  use_psram: true

## uncomment if you need a fixed ip address
#  manual_ip:
#    static_ip: 192.168.178.126
#    gateway: 192.168.178.1
#    subnet: 255.255.255.0

## Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "${name} Hotspot"
    password: "configesp"
    ap_timeout: 15s

web_server:
  port: 80
  version: 3
  include_internal: False
  local: True

# Webserver security.
  auth:
     username: !secret web_server_username
     password: !secret web_server_password

packages:
  remote_package_files:
    url: https://github.com/Blerk666/MarstekVenus-V3-M5stackRS485
    path: esphome
    files: [general-settings.yaml, atom-s3-lite.yaml, modbus-communication.yaml, marstek-venus-e-gen3.yaml]
    ref: main
    refresh: 5min
